.employeeGrid
{
height:40vh;
margin:5px;
padding:5px;
overflow:scroll;
border:1px solid black;
}
.employeeGridHeader
{
text-align:right;
padding:5px;
}
.employeeGridSNOColumnTitle
{
width:60px;
text-align:center;
}
.employeeGridEmployeeIdColumnTitle
{
width:200px;
}
.employeeGridNameColumnTitle
{
width:200px;
}
.employeeGridDesignationColumnTitle
{
width:200px;
}
.employeeGridEditOptionColumnTitle
{
width:100px;
}
.employeeGridDeleteOptionColumnTitle
{
width:100px;
}